html {
  box-sizing: border-box;
  } /*reset for every */

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

figure {
  text-align: center;
}

nav a {
  padding: 10px;
  background: grey;
}

#featured-property p{
  width: 800px;
  text-align: center;
  }

#featured-property img{
  text-align: center;
}

#details div {
    float: left;
    background: red;
    width: 25%;
    text-align: center;
}

 
